<header><h1>Comedians</h1></header>
<div class="statistics">
  <h6>Statistics</h6>
  <p>Average Age: &nbsp; <%= @comedian_age_total / @comedian_count %></p><br>
  <p>All Specials Count: &nbsp; <%= @all_specials_count %> </p><br>
  <p>Average Special Run Length: &nbsp; <%= (@total_runtimes / @all_specials_count.to_f).round(1) %> &nbsp; minutes</p>
  <p>Cities: &nbsp;
    <% @all_comedian_cities.each do |city| %>
      <%= city %> &nbsp;
    <% end %>
  </p>
</div>
<% @comedians.each do |comedian| %>
    <div id="comedian-<%= comedian.id %>" class='comedian_card'>
      <img class='comedian_img' id="comedian-<%= comedian.id %>-img" src =<%= comedian.image_url %>><br>
        <h5><%= link_to comedian.name, comedian_path(comedian), :style=>"text-decoration: none; color:#2EC4B6; font-size: 45px;" %></h5><br>
        <p>Age: &nbsp; <%= comedian.age %></p>
        <p>Birthplace: &nbsp; <%= comedian.birthplace %></p>
        <p>Special Amount: &nbsp; <%= comedian.special_count%></p>
        <div class="specials">
          <h4>Specials</h4><br>
          <% comedian.specials.each do |special| %>
            <p class='special_name'><%= special.name%></p>
            <p class="mins">length: <%=  special.runtime_mins %> minutes</p><br>
          <% end %>
        </div>
        <br>
    </div>
<% end %>
