<h1>Comedians</h1>
<% @comedians.each do |comedian| %>
    <div id="comedian-<%= comedian.id %>" class='comedian_card'>
        <h5><%= link_to comedian.name, comedian_path(comedian), :style=>"text-decoration: none; color: black;" %></h5>
        <p>Age: <%= comedian.age %></p>
        <p>Birthplace: <%= comedian.birthplace %></p>
        <h4>Specials:</h4>
        <% comedian.specials.each do |special| %>
          <p><%= special.name%>   <%=  special.runtime_mins %></p>
        <% end %>
    </div>
<% end %>
